body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}
.menu {
    background-color: #aab084;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li {
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0px 100px;
}
.menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.block {                                                                                                                                                                                                                    
  display: flex;                                        
  align-items: center;                                                                                                                                                                                                    
  gap: 20px;                                                                                                                                                                                                              
  margin: 20px 0;                                                                                                                                                                                                         
}                                                         

.block img {
  width: 300px;
  height: auto;
  flex-shrink: 0;                                                                                                                                                                                                         
}